services:
  {{ env_name }}-{{ package_name }}:
{% if package_name != 'hello-world' %}
    image: ghcr.io/{{ github_repository }}:{{ package_version }}
    restart: always
{% else %}
    image: hello-world:latest
    restart: no
{% endif %}
    container_name: {{ package_name }}-{{ env_name }}
    networks:
      - {{ env_name }}
{% if dockers_configs[package_name] is iterable %}
{% if 'host_listen_port' in dockers_configs[package_name][env_name].keys() and 'package_listen_port' in dockers_configs[package_name][env_name].keys() %}
    ports:
      - "127.0.0.1:{{ dockers_configs[package_name][env_name]['host_listen_port'] }}:{{ dockers_configs[package_name][env_name]['package_listen_port'] }}"
{% elif 'host_listen_port' in dockers_configs[package_name][env_name].keys() %}
    ports:
      - "127.0.0.1:{{ dockers_configs[package_name][env_name]['host_listen_port'] }}:3000"
{% endif %}
{% endif %}
    environment:
{% if dockers_configs[package_name] is iterable %}
{% if 'need_db_connection' in dockers_configs[package_name].keys() %}
{% if dockers_configs[package_name]['need_db_connection'] %}
      db_host: {{ env_name }}-postgres
      db_port: 5432
      db_name: db_{{ replaced_symbols_package_name }}
      db_user: {{ replaced_symbols_package_name }}_user
      db_password: {{ db_password }}
{% endif %}
{% endif %}
{% endif %}
      dummy: dummy
networks:
  {{ env_name }}:
    name: {{ env_name }}
    external: true